<!DOCTYPE html>
<html lang="en">
    <% include ../_include/_auth/_head %>

<body>
    <div class="container-scroller">
        <%- body %>
    </div>
    <% include ../_include/_auth/_script %>
</body>

</html>